<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

  <title>Error 505</title>
</head>
<body>
<div class="container">
  <h1>Internal Error!</h1>
  <h2>Please contact our engineeer</h2>
  <p>Or Click <a href="/home">here</a> back to home page</p>
</div>
</body>
</html>